@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
/* Text colors */

.green {
  color: #28a745;
}

.white {
  color: white;
}

.hero ul {
  list-style: none;
}

.hero a {
  color: #333;
  text-decoration: none;
}

.hero h1,
.hero h2 {
  font-weight: 300;
  line-height: 1.2;
}

.hero p {
  margin: 10px 0;
}

.hero img {
  width: 100%;
}
/* Navbar */

.navbar {
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  padding: 0 30px;
  transition: 0.5s;
}
.navbar.top {
  background: transparent;
}

.navbar a {
  color: #fff;
  padding: 10px 20px;
}

.navbar a:hover {
  border-bottom: #28a745 2px solid;
}

.navbar ul {
  display: flex;
}

.navbar .logo {
  font-weight: 400;
}

/* Header */

.hero {
  
  background: url("../images/home/jalebi.jpeg") no-repeat center center/cover;
  height: 30vh;
  position: relative;
  color: #fff;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.hero * {
  z-index: 10;
}

/* Mobile */

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
  }

  .navbar a {
    padding: 10px 10px;
    margin: 0 3px;
  }
}
